.checkout-page {

  .checkout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }

  .customer-details {
    flex: 0 0 55%;
  }

  .detail-block {
    margin-bottom: 40px;
  }

  .segment-title {
    display: flex;
    align-items: center;

    .title {
      margin: 0;

      font-size: 18px;
      font-weight: bold;
    }
  }

  .round-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 35px;
    height: 35px;

    color: $white;

    background: $black;
    border-radius: 50%;

    &.selected {
      color: $black;

      background: $white;
      border: 2px solid $black;
    }
  }

  .details-list {
    padding-inline-start: 45px;
    list-style-type: none;

    .detail-title {
      margin-bottom: 10px;

      font-weight: bold;
    }
  }

  .checkout-form {
    margin-right: 45px;
  }

  .form-wrapper {
    margin-top: 15px;
    margin-left: 45px;
    width: 100%;

    .card-no-wrapper {
      input {
        padding: 10px;
        width: 100%;
      }
    }

    .card-info-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      div {
        width: 100%;

        .field-wrapper {
          width: 100%;

          border: 1px solid #aba7a7;
        }
      }

      select,
      input {
        flex: 0 0 30%;
        // padding: 10px;
      }
    }
  }

  .cart-details {
    flex: 0 0 40%;
    padding: 15px;
    height: 100%;

    background: #F6F6F6;
  }

  .cart-detail-title {
    padding-bottom: 5px;
    margin: 0;

    font-size: 18px;
    font-weight: bold;
  }

  .border-bottom-black {
    border-bottom: 1px solid #D5D5D5;
  }

  .cart-product-item {
    display: flex;
    padding: 16px 0;

    .product-image {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    .product-name {
      font-size: 16px;
      margin-bottom: 0;
    }

    .computation {
      margin: 0;

      font-size: 14px;
      font-weight: 400;
    }
  }

  label {
    margin-bottom: 0;
  }
}

@include respond-to(md-down) {
  .checkout-page {
    .cart-details {
      display: none;
    }

    .form-wrapper {
      margin-left: 0;
    }

    .customer-details {
      flex: 0 0 100%;
    }

    .checkout-form {
      margin-right: 0;
    }
  }
}

@include respond-to(xs) {
  .checkout-page {
    .form-wrapper {
      .card-info-wrapper {
        flex-wrap: wrap;
        
        select {
          flex: 0 0 100%;
          padding: 10px;
          margin-bottom: 1rem;
        }

        input {
          flex: 0 0 48%;
        }
      }
    }
  }

  .sass-ready {
    header .link {
      font-size: 8px;
    }
  }
}