.product-catalog {
  .section-catalog {
    margin: 60px 0;
  }

  .pagination {
    justify-content: center;
    
    li {
      margin: 0 10px;
    }

    .display-none {
      display: none;
    }

    .active {
      a {
        color: $blue;
      }
    }

    a {
      font-size: 20px;
    }

    .disabled {
      opacity: 0.5;
    }
  }

  .nav-tabs {
    justify-content: flex-end;

    border-bottom: none;
  }

  .nav-item {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 12px;

    border: 1px solid $light-gray;
  }

  .nav-link {
    padding: 6px 11px;
    border: none;
    border-radius: 0;
  }

  .tab-content {
    margin-top: 20px;
  }

  .grid {
    .product-listing {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }

    .image-holder {
      position: relative;

      background: $light-gray;
    }

    .thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 354px;
      padding: 25px;
    }

    .product-item {
      margin-bottom: 20px;
      width: 30%;
    }

    .image-thumbnail {
      width: 100%;
      height: 100%;
      object-fit: contain;

      transition: all .5s ease-in-out;
    }

    .btn-swipe-black {
      position: absolute;
      bottom: 0;

      width: 100%;
      max-width: 100%;
      
      text-align: center;

      opacity: 0;
      transition: .2s ease-in;
      pointer-events: none;
    }

    .text-holder {
      margin-top: 18px;
      text-align: center;
    }

    .title {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .price {
      font-size: 16px;
    }
  }

  .list {
    .title {
      font-size: 24px;
    }

    .product-item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 36px;
    }

    .thumbnail {
      justify-content: center;
      display: flex;
      background: $light-gray;
    }

    .image-thumbnail {
      padding: 15px;
      width: 100%;
      max-width: 259px;
      height: 264px;
      object-fit: contain;
      transition: all .5s ease-in-out;
    }

    .image-holder {
      width: 24%;
      margin-right: 1.5rem;
    }

    .text-holder {
      width: 72%;
    }
  }

  .product-listing {
    padding: 0;
    margin: 0;
  }
}

@include respond-to (lg-up) {
  .product-catalog {
    .nav-link {
      &.active,
      &:hover {
        color: $white;
  
        background: $black;
      }
    }
  
    .grid {
      .product-item {
        &:hover {
          .btn-swipe-black {
            opacity: 1;
            
            transition: .2s ease-in;
            pointer-events: initial;
          }
  
          .image-thumbnail {
            transform: scale(.9);
            transition: all .5s ease-in-out;
          }
        }
      }
    }
  
    .list {
      .thumbnail {
        &:hover {
          .image-thumbnail {
            transform: scale(0.9);
            transition: all .5s ease-in-out;
          }
        }
      }
    }
  }
}

@include respond-to(md-up) {
  .product-catalog {
    .grid {
      .product-item {
        width: 31.33%;

        &:not(:nth-child(3n)){
          margin-right: 3%;
        }
      }
    }
  }
}

@include respond-to(lg-down) {
  .product-catalog {
    .grid {
      .thumbnail {
        height: 255px;
      }
    }

    .list {
      .image-holder {
        width: 27%;
      }

      .text-holder {
        width: 69%;
      }
    }
  }
}

@include respond-to(md) {
  .product-catalog {
    .list {
      .image-holder {
        width: 38%;
      }

      .text-holder {
        width: 58%;
      }
    }
  }
}

@include respond-to(sm-down) {
  .product-catalog {
    .grid {
      .product-item {
        width: 48.5%;

        &:not(:nth-child(2n)){
          margin-right: 3%;
        }
      }
    }

    .list {
      .product-item {
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      .image-holder {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }

      .text-holder {
        width: 100%;
      }

      .btn-swipe-black {
        margin: 0 auto;
      }
    }
  }
}

@include respond-to(xs) {
  .product-catalog {
    .grid {
      .product-item {
        width: 100%;

        &:not(:nth-child(2n)){
          margin-right: 0;
        }
      }
    }
  }
}