.modal {
  left: initial!important;
  

  &.show {
    right: 0;
  }

  .modal-dialog {
    position: absolute;
    right: 0;
    
    margin: 0!important;
    width: auto;
    min-width: 484px;
    right: 0;

    // transition: none!important;

  }

  .modal-content {
    min-height: 100vh;

    border-radius: 0;
  }

  .cart-product-listing {
    padding: 0;
    list-style: none;
  }

  .cart-product-item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 18px;

    // border-bottom: 1px solid #dee2e6;

    &:last-child {
      border-bottom: none;
    }
  }

  .product-image {
    width: 100%;
  }

  .btn-holder {
    padding: 0 15px;
    margin-bottom: 20px; 
  }

  .btn-swipe-black {
    width: 100%;
    text-align: center;
  }

  .btn-checkout  {
    margin-bottom: 9px; 
  }

  .total-holder {
    padding: 20px 0;

    border-top: 1px solid #dee2e6;
  }

  .total {
    font-size: 23px;
    text-align: center;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin-right: 4%;
  }

  .thumbnail-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 134px;

    background: $light-gray;
  }


  .text-wrapper {
    width: 67%;
  }

  .product-name {
    font-size: 19px;
  }
}


@include respond-to(xs) {
  .modal {
    .modal-dialog {
      width: 100%;
      min-width: 100%;
    }

    .image-wrapper {
      width: 40%;
    }

    .text-wrapper {
      width: 56%;
    }
  }
}