footer {
  padding: 50px 0;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  .logo-holder,
  .links-holder {
    width: 23%;
  }

  .brand-holder {
    width: 230px;
    max-width: 100%;
  }

  .brand-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .title {
    margin-bottom: 15px;

    font-size: 17px;
  }

  .list-holder {
    padding: 0;

    list-style: none;
  }

  .list-item {
    margin-bottom: 10px;

    font-size: 16px;
  }

  .icon {
    margin-right: 5px;
  }
}

@include respond-to(xl) {
  footer .container {
    max-width: 1100px;
  }
}

@include respond-to(lg) {
  footer {
    .container {
      max-width: 940px;
    }

    .logo-holder {
      width: 30%;
    }
  }
}

@include respond-to(md) {
  footer {
    .container {
      max-width: 700px;
    }
  }
}

@include respond-to(sm-down) {
  footer {
    padding: 35px 0;

    .footer-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .logo-holder, 
    .links-holder {
      width: 100%;
    }

    .brand-holder {
      margin: auto;
    }

    .links-holder {
      margin-top: 10px;
    }
  }
}