header {
  position: fixed;
  top: 0;
  z-index: 5;

  padding: 2.5rem;
  width: 100%;

  background: $white;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);

  
  a {
    @include on-event {
      color: $blue;
    }
  }

  .show-mb {
    display: none;
  }

  .cart-quantity {
    position: absolute;
    top: -8px;
    left: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;

    font-family: 'Roboto';
    font-size: 10px;
    // font-weight: 600;
    color: $white;

    background: $blue;
    border-radius: 100%;
    // margin-left: 4px;
  }

  nav {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }

  .link-listing,
  .brand-icon-holder,
  .icon-listing {
    width: 33.33%;
  }

  .icon-listing {
    display: flex;
    justify-content: flex-end;
  }

  .brand-icon-holder {
    text-align: center;
    // margin-right: 88px;
    // margin-right: 60px;
    // margin-right: 5.5%;
  }

  .brand-icon {
    height: 30px;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    // flex-wrap: wrap;
    list-style: none;
  }

  .link-item {
    margin-right: 23%;
  }

  .link {
    display: block;

    font-weight: 500;
    text-decoration: none;
  }

  // .icon-item {
  //   margin-left: 24px;
  // }

  .icon-link {
    position: relative;
    
    font-size: 20px;
    color: $black;

    cursor: pointer;
  }
}

@include respond-to(md-down) {
  header {
    .link-item {
      // display: none;
    }

    .show-mb {
      display: block;
    }
  }
}

@include respond-to(xs) {
  header {
    padding: 35px 17px;
    nav {
      flex-wrap: wrap;
    }

    .brand-icon {
      width: 100%;
      height: auto;
    }

    .link-listing {
      width:30%;
    }

    .icon-listing {
      width: 30%;
    }

    .brand-icon-holder {
      width: 40%;
    }

    .container {
      padding: 0;
    }

    .link {
      font-size: 14px;
    }
  }
}