.section-swiper-banner {
  display: flex;
  height: auto;
  min-height: 700px;

  .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $white;

    background: $blue;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    width: 50%;
  }

  .description {
    margin-top: 20px;
  }

  .btn-swipe-white {
    margin-top: 20px;
    width: 100%;
    max-width: 150px;

    text-align: center;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .image {
    width: 100%;
    max-width: 524px;
  }
}

@include respond-to(lg-up) {
  .section-swiper-banner {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 0!important;

      transition: .2s ease-in;
      pointer-events: none;
    }

    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1!important;

        transition: .2s ease-in;
        pointer-events: initial;
      }
    }
  }
}

@include respond-to(md-down) {
  .section-swiper-banner {
    .banner-content {
      padding: 50px 0 70px;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    .text-wrapper {
      margin-top: 20px;
      width: 100%;
    }

    .image-wrapper {
      width: 100%;
    }

    .custom-card-item {
      padding: 30px 18px;
    }
  } 
}

@include respond-to(sm-down) {
  .swiper-button-next, 
  .swiper-button-prev {
    &:after {
      font-size: 28px;
    }
  }

  .section-swiper-banner {
    .banner-content {
      padding: 50px 26px;
    }

    h1 {
      font-size: 31px;
    }

    .description {
      margin-top: 7px;
    }
  }
}