.section-category-listing {
  .category-listing {
    display: flex;
    flex-wrap: wrap;
  }

  .category-item {
    padding: 46px 53px;
    margin-bottom: 27px;

    display: flex;
    flex-wrap: wrap;

    background: #9c9c9c;

    &:nth-child(even) {
      background: #71cbff;
    }

    &:nth-child(odd) {
      background:#b4e1f7;
    }
  }

  .category-description {
    margin-top: 11px;
  }

  .category-text-wrapper {
    width: 52%;
    margin-right: 9%;
  }

  .category-title {
    font-size: 26px;
  }

  .category-button {
    margin-top: 18px;
  }

  .category-image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 39%;
  }

  .category-image {
    width: 100%;
  }
}

@include respond-to(lg-up) {
  .section-category-listing {
    .category-item {
      width: 31.33%;

      &:not(:nth-child(3n)){
        margin-right: 3%;
      }
    }
  }
}

@include respond-to(lg-down) {
  .section-category-listing {
    .category-item {
      flex-direction: column-reverse;
    }

    .category-text-wrapper {
      width: 100%;
    }
    
    .category-image-wrapper {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@include respond-to(md-down) {
  .section-category-listing {
    .category-item {
      width: 48.5%;

      &:not(:nth-child(2n)){
        margin-right: 3%;
      }
    }
  }
}

@include respond-to(xs) {
  .section-category-listing {
    .category-item {
      width: 100%;

      &:not(:nth-child(2n)){
        margin-right: 0;
      }
    }
  }
}
