@charset 'UTF-8';

// Configuration and helpers
@import
  'utils/variables',
  'utils/functions',
  'utils/mixins';

// Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography';

// Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/section-swiper-banner',
  'layout/section-custom-card-listing',
  'layout/banner',
  'layout/cart-popup';

// Components
@import
  'components/buttons';

// Page-specific styles
@import
  'pages/home',
  'pages/product-details',
  'pages/product-catalog',
  'pages/chekout',
  'pages/success-payment';
